<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Coderetreat</span>
</nav>

<div class="d-flex justify-content-center flex-wrap ">
  <div class="card text-center m-3">
    <div class="card-body mt-4">
      <h1 class="card-title">Java</h1>
    </div>
  </div>
  <div class="card text-center m-3">
    <div class="card-body mt-4">
      <h1 class="card-title">Javascript</h1>
    </div>
  </div>
  <div class="card text-center m-3">
    <div class="card-body mt-4">
      <h1 class="card-title">C#</h1>
    </div>
  </div>
  <div class="card text-center m-3">
    <div class="card-body mt-4">
      <h1 class="card-title">Python</h1>
    </div>
  </div>
  <div class="card text-center m-3">
    <div class="card-body mt-4">
      <h1 class="card-title">Ruby</h1>
    </div>
  </div>
  <div class="card text-center m-3">
    <div class="card-body mt-4">
      <h1 class="card-title">Go</h1>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
